config_opts['root'] = 'rfremix-rawhide-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @buildsys-build'
config_opts['dist'] = 'rawhide'  # only useful for --resultdir variable subst
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['releasever'] = '29'

config_opts['package_manager'] = 'dnf'

config_opts['yum.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
install_weak_deps=0
metadata_expire=0

# repos

[fedora-rawhide]
name=fedora-rawhide
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=rawhide&arch=x86_64
#baseurl=http://mirror.yandex.ru/fedora/linux/development/x86_64/os/
exclude=anaconda,fedora-logos,fedora-release,generic*
failovermethod=priority

[russianfedora-free-rawhide]
name=russianfedora-free-rawhide
mirrorlist=http://mirrors.rfremix.ru/mirrorlist?repo=free-fedora-rawhide&arch=x86_64
#baseurl=http://mirror.yandex.ru/fedora/russianfedora/russianfedora/free/fedora/development/rawhide/x86_64/os/
failovermethod=priority

[russianfedora-nonfree-rawhide]
name=russianfedora-nonfree-rawhide
mirrorlist=http://mirrors.rfremix.ru/mirrorlist?repo=nonfree-fedora-rawhide&arch=x86_64
#baseurl=http://mirror.yandex.ru/fedora/russianfedora/russianfedora/nonfree/fedora/development/rawhide/x86_64/os/
failovermethod=priority

[russianfedora-fixes-rawhide]
name=russianfedora-fixes-rawhide
mirrorlist=http://mirrors.rfremix.ru/mirrorlist?repo=fixes-fedora-rawhide&arch=x86_64
#baseurl=http://mirror.yandex.ru/fedora/russianfedora/russianfedora/fixes/fedora/development/rawhide/x86_64/os/
failovermethod=priority

[russianfedora-branding-rawhide]
name=russianfedora-branding-rawhide
mirrorlist=http://mirrors.rfremix.ru/mirrorlist?repo=branding-fedora-rawhide&arch=x86_64
#baseurl=http://mirror.yandex.ru/fedora/russianfedora/russianfedora/branding/fedora/development/rawhide/x86_64/os/
failovermethod=priority

[rpmfusion-free-rawhide]
name=rpmfusion-free-rawhide
#mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-rawhide&arch=x86_64
baseurl=http://mirror.yandex.ru/fedora/rpmfusion/free/fedora/development/rawhide/Everything/x86_64/os/
failovermethod=priority

[rpmfusion-nonfree-rawhide]
name=rpmfusion-nonfree-rawhide
#mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-rawhide&arch=x86_64
baseurl=http://mirror.yandex.ru/fedora/rpmfusion/nonfree/fedora/development/rawhide/Everything/x86_64/os/
failovermethod=priority

[local]
name=local
baseurl=http://koji.fedoraproject.org/static-repos/dist-rawhide-current/x86_64/
cost=2000
enabled=0
"""
